<!DOCTYPE html>
<html>
    <head>
        <title>Actualizar Contraseña</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Actualizar Contraseña</h1>
        <br>
        <form action="/info/password_change" method="post">
            <label for="nueva_contra">Nueva Contraseña:</label>
            <input type="text" id="nueva_contra" name="nueva_contra" required><br><br>

            <input type="submit" value="Actualizar">
        </form>
        <br>
        {% for message in get_flashed_messages() %}
         <div class="flash">{{ message }}</div>
        {% endfor %}
    </body>
</html>