<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="../static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.f3cc930729914d15.js" type="module"></script><script src="polyfills.f91c42a6e04e503c.js" type="module"></script><script src="main.b7a9191f9a6d10a0.js" type="module"></script>

</body></html>